body{
  background-color: rgb(71, 67, 67)
}

header{
  background-color: rgb(201, 54, 34);
  color: white;
  font-size: 27px;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 10px;
  font-family: arial;
  font-weight:bold
}

#login{
  font-size: 15px;
  text-align: right;
  float:right;
  margin: 0px ;
  padding: 0px ;
  text-decoration: none;
  color:white
}

nav{
  margin-top: 6px;
  margin-bottom:3px;
  margin-right:2px;
  margin-left:0px;
  text-align:right;
  word-spacing: 8px;
  font-family:arial
}

nav a{
  font-size: 8px;
  color:white;
  margin-top: 8px;
  margin-bottom: 12px;
  margin-right:5px
}

aside{
  margin-top: 15px;
  margin-bottom: 15px;
  float: right;
  font-family: arial;
  font-weight: bold;
}

aside img{
  margin-right: 13px;
  margin-bottom: 20px;
  height: 70%
}

article{
  background: white;
  font-family: arial;
}

article h2{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 0px
}

article p{
  margin-top: 10px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 300px
}

article img{
  width: 70%;
  margin-top: 13px;
  margin-left: 13px
}

footer p{
  margin-top: 11px;
  color:white;
  font-size: 15px;
  font-family: arial
}
